<fieldset class="layui-elem-field">
    <legend>题目相关 :</legend>
    <div class="layui-field-box">
        <div class="form-group layui-form-item">
            <label for="topicSelf" class="layui-form-label">考试题目:</label>
            <div class="layui-input-block">
                <input type="text" name="topicSelf" id="topicSelf" autocomplete="off" placeholder="请输入考试题目"
                       class="form-control layui-input">
            </div>
        </div>

        <hr class="layui-border-blue">

        <div class="form-group layui-form-item layui-form-text">
            <label class="layui-form-label" for="topicComment">请输入题目备注</label>
            <div class="layui-input-block">
                <textarea name="topicComment" id="topicComment" placeholder="请输入题目备注"
                          class="form-control layui-textarea"></textarea>
            </div>
        </div>
    </div>
</fieldset>