<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title th:text="|${title==null?'后台':title}管理|"></title>
<meta name="keywords" content="EXAM">
<meta name="description" content="EXAM">

<link th:href="@{/lib/layui/css/layui.css}" rel="stylesheet">

<link th:href="@{/lib/bootstrap/3.4.1/css/bootstrap.css}" rel="stylesheet" type="text/css">

<link rel="stylesheet/less" type="text/css" th:href="@{/admin/css/style.less}">

<script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>

<script th:src="@{/lib/jquery/jquery-3.3.1.min.js}"></script>
<script th:src="@{/lib/vue/vue.min.js}" charset="utf-8"></script>

<script th:src="@{/lib/bootstrap/3.4.1/js/bootstrap.js}" charset="utf-8"></script>

<script th:src="@{/lib/less/dist/less.js}" type="text/javascript"></script>
